@model EatOutByBI.Data.Classes.Booked

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Booked</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateAndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateAndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Plats)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Plats)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookingTimeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookingTimeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsAvailable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsAvailable)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BookedId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
