@model IEnumerable<EatOutByBI.Data.DTO.EmployeeDTO>

@{
    ViewBag.Title = "ListEmployees";
}

<h2>ListEmployees</h2>

<div class="row">
    <div class="col-sm-3">
        @Html.Partial("_EmployeePagePartial")
    </div>
    <div class="col-sm-9">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.EmployeeName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FormName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TypeName)
                </th>
                <th></th>
            </tr>


            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.EmployeeName)</td>
                    <td>@Html.DisplayFor(modelItem => item.FormName)</td>
                    <td>@Html.DisplayFor(modelItem => item.TypeName)</td>
                    <td>Details?</td>
                </tr>
            }

        </table>
    </div>
</div>