@model IEnumerable<EatOutByBI.Data.DTO.BookingDTO>

@{
    ViewBag.Title = "TodaysBookings";
}

<div class="standardMenu">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookingId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telephone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookedId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>

        </tr>

        @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BookingId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telephone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookedId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>

                <td>
                    @*@Html.ActionLink("Edit", "AdminEmpEdit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "AdminEmpDetails", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "AdminEmpDelete", new { id = item.Id })*@
                </td>
            </tr>
        }

    </table>

</div>
