@model EatOutByBI.Data.DTO.ProductTypeDTO

@{
    ViewBag.Title = "Produkt Typs Detaljer";
}

<h2>Produkt Typs Detaljer</h2>

<div>
    <h4>Produkt Typ</h4>
    <hr />
    <dl class="dl-horizontal standardMenu">
        <dt>
            @Html.DisplayNameFor(model => model.ProductTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductTypeOrderRow)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductTypeOrderRow)
        </dd>



    </dl>
</div>
<p>
    @Html.ActionLink("Ändra", "Edit", new { id = Model.ProductTypeID }) |
    @Html.ActionLink("Tillbaka", "Index")
</p>
