

@model IEnumerable<EatOutByBI.Data.DTO.ProductTypeDTO>

@{
    ViewBag.Title = "Produkttyper";
}


<div class="col-xs-3 menuNav">
    @Html.Partial("_ManagerPagePartial")
</div>
<div class="col-xs-9">
    @Html.Partial("_ProductsMenu")
</div>

<h2>Produkttyper</h2>

<p>
    @Html.ActionLink("Skapa Ny", "Create")
</p>

<div class="col-xs-9">
    <table class="table standardMenu">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductTypeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductTypeOrderRow)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductTypeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductTypeOrderRow)
                </td>

                <td>
                    @Html.ActionLink("Ändra", "Edit", new { id = item.ProductTypeID }) |
                    @Html.ActionLink("Detaljer", "Details", new { id = item.ProductTypeID }) |
                    @Html.ActionLink("Ta Bort", "Delete", new { id = item.ProductTypeID })
                </td>
            </tr>
        }

    </table>
</div>