

@model IEnumerable<EatOutByBI.Data.DTO.ProductTypeDTO>

@{
    ViewBag.Title = "Produkt Typer";
}


<div>
    @Html.Partial("_ProductsMenu")
</div>

<h2>Produkt Typer</h2>

<p>
    @Html.ActionLink("Skapa Ny", "Create")
</p>
<table class="table standardMenu">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductTypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductTypeOrderRow)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductTypeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductTypeOrderRow)
        </td>

        <td>
            @Html.ActionLink("Ändra", "Edit", new { id=item.ProductTypeID }) |
            @Html.ActionLink("Detaljer", "Details", new { id=item.ProductTypeID }) |
            @Html.ActionLink("Ta Bort", "Delete", new { id=item.ProductTypeID })
        </td>
    </tr>
}

</table>
