@model EatOutByBI.Data.DTO.EmployeeTypeDTO

@{
    ViewBag.Title = "Ta Bort Anställningstyp";
}

<h2>Ta Bort Anställningstyp</h2>

<h3>Är du säker på att du vill ta bort det här?</h3>
<div>
    <h4>Anställningstyp</h4>
    <hr />
    <dl class="dl-horizontal standardMenu">
        <dt>
            @Html.DisplayNameFor(model => model.EmployeeTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeTypeOrderRow)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeTypeOrderRow)
        </dd>



    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Ta Bort" class="btn btn-danger" /> |
            @Html.ActionLink("Tillbaka", "Index")
        </div>
    }
</div>
