@model EatOutByBI.Data.DTO.EmployeeTypeDTO

@{
    ViewBag.Title = "Anställningstyps Detaljer";
}

<h2>Anställningstyps Detaljer</h2>

<div>
    <h4>Anställningstyp</h4>
    <hr />
    <dl class="dl-horizontal standardMenu">
        <dt>
            @Html.DisplayNameFor(model => model.EmployeeTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeTypeOrderRow)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeTypeOrderRow)
        </dd>



    </dl>
</div>
<p>
    @Html.ActionLink("Ändra", "Edit", new { id = Model.EmployeeTypeID }) |
    @Html.ActionLink("Tillbaka", "Index")
</p>
