@model IEnumerable<EatOutByBI.Data.DTO.EmployeeFormDTO>


@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table standardMenu">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeFormID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeFormName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeFormOrderRow)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeFormID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeFormName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeFormOrderRow)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id=item.EmployeeID }) |
                    @Html.ActionLink("Details", "Details", new { id=item.EmployeeID }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.EmployeeID })*@
            </td>
        </tr>
    }

</table>