@model EatOutByBI.Data.DTO.ProductGroupDTO

@{
    ViewBag.Title = "Produktgrupps Detaljer";
}

<h2>Produktgrupps Detaljer</h2>

<div>
    <h4>Produktgrupp</h4>
    <hr />
    <dl class="dl-horizontal standardMenu">
        <dt>
            @Html.DisplayNameFor(model => model.ProductGroupName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductGroupName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductGroupOrderRow)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductGroupOrderRow)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductTypeName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Ändra", "Edit", new { id = Model.ProductGroupID }) |
    @Html.ActionLink("Tillbaka", "Index")
</p>
