
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    ViewBag.Title = "Add Role";
}

<div class="row">
    <div class="col-sm-3 menuNav">
        <p class="onMenuChoice">@Html.ActionLink("Admin", "Index", "AdminPage")</p>
        <p>@Html.ActionLink("Lägg till Prod/Anställd", "AdminAddProdEmp", "AdminPage")</p>
        <p>@Html.ActionLink("Lägg till Användar Roll", "Index", "Role")</p>
        <p>@Html.ActionLink("Registrera Användare", "Register", "Account")</p>
    </div>
    <div class="col-sm-7 tblAddRole">
        <div>
            <p>Här nedanför ser ni villka roller som finns, vill ni ska nya kan du göra det här nedanför</p>
        </div>
        <table cellpadding="6" cellspacing="6">
            <tr id="tblHead">
                <td colspan="2">
                    <h2> Create User Roles</h2>
                </td>

            </tr>
            <tr>
                <td>
                    <table id="tblRoles">

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td id="tblName">
                                    @item.Name
                                </td>
                            </tr>}
                    </table>
                </td>
                <td>


                    <h3> @Html.ActionLink("Click to Create New Role", "Create", "Role") </h3>
                </td>
            </tr>
        </table>
    </div>
</div>

