
@model EatOutByBI.Data.DTO.ProductDTO

@{
    ViewBag.Title = "Ta Bort Produkt";
}

<h2>Ta Bort Produkt</h2>

<h3>Är du säker på att du vill ta bort det här?</h3>
<div>
    <h4>Produkt</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.ProductGroupName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductGroupName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductTypeName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Ta Bort" class="btn btn-danger" /> |
            @Html.ActionLink("Tillbaka", "Index")
        </div>
    }
</div>
