@model EatOutByBI.Data.Classes.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal standardMenu">
        <dt>
            @Html.DisplayNameFor(model => model.ProductGroup.ProductGroupName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductGroup.ProductGroupName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductGroup.ProductType.ProductTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductGroup.ProductType.ProductTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateModified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateModified)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
