@*@model EatOutByBI.Data.Classes.Product*@
@model EatOutByBI.Data.DTO.ProductDTO


@{
    ViewBag.Title = "Produkts Detaljer";
}

<h2>Produkts Detaljer</h2>

<div>
    <h4>Produkt</h4>
    <hr />
    <dl class="dl-horizontal">



        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>




        <dt>
            @Html.DisplayNameFor(model => model.ProductGroupName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductGroupName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductTypeName)
        </dd>



    </dl>
</div>
<p>
    @Html.ActionLink("Ändra", "Edit", new { id = Model.ProductID }) |
    @Html.ActionLink("Tillbaka", "Index")
</p>
