@model EatOutByBI.Data.DTO.EmployeeFormDTO

@{
    ViewBag.Title = "Anställningsforms Detaljer";
}

<h2>Anställningsforms Detaljer</h2>

<div>
    <h4>Anställnings Form</h4>
    <hr />
    <dl class="dl-horizontal standardMenu">
        <dt>
            @Html.DisplayNameFor(model => model.EmployeeFormName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeFormName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeFormOrderRow)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeFormOrderRow)
        </dd>
       
        @*<dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateModified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateModified)
        </dd>*@

    </dl>
</div>
<p>
    @Html.ActionLink("Ändra", "Edit", new { id = Model.EmployeeFormID }) |
    @Html.ActionLink("Tillbaka", "Index")
</p>
