@model IEnumerable<EatOutByBI.Data.DTO.EmployeeFormDTO>

@{
    ViewBag.Title = "Lista med Anställningsformer";
}

<div class="col-xs-3 menuNav">
    @Html.Partial("_ManagerPagePartial")
</div>
<div class="col-xs-9">
    @Html.Partial("_EmployeesMenu")
</div>

<h2>Lista med Anställningsformer</h2>

<p>
    @Html.ActionLink("Skapa Ny", "Create")
</p>

<div class="col-xs-9">
    <table class="table standardMenu">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeFormName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeFormOrderRow)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.DateCreated)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateModified)
                </th>*@
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeFormName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeFormOrderRow)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.DateCreated)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateModified)
                    </td>*@
                <td>
                    @Html.ActionLink("Ändra", "Edit", new { id = item.EmployeeFormID }) |
                    @Html.ActionLink("Detaljer", "Details", new { id = item.EmployeeFormID }) |
                    @Html.ActionLink("Ta Bort", "Delete", new { id = item.EmployeeFormID })
                </td>
            </tr>
        }

    </table>
    </div>