@model EatOutByBI.Data.DTO.UsersDTO
@{
    ViewBag.Title = "Admin User Detaljer";
}

<h2>Detaljer</h2>


<div class="standardMenu">
    <h4>Användare</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>

    </dl>

    <p>
        @Html.ActionLink("Ändra", "AdminEmpEdit", new { id = Model.UserId }) |
        @Html.ActionLink("Tillbaka", "Employees")
    </p>
</div>