@model IEnumerable<EatOutByBI.Domain.Models.ApplicationUser>

@{
    ViewBag.Title = "Anställda";
}

<h2>Anställda</h2>

<div class="row">
    <div class="col-sm-3 menuNav">
        @Html.Partial("_AdminPagePartial")
    </div>
    <div class="col-sm-9 standardMenu">
        <p>@Html.ActionLink("Lägg Till Användare", "Register", "Account")</p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </th>

            </tr>

            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        @Html.HiddenFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.ActionLink("Ändra", "AdminEmpEdit", new { id = item.Id }) |
                        @Html.ActionLink("Detaljer", "AdminEmpDetails", new { id = item.Id }) |
                        @Html.ActionLink("Ta Bort", "AdminEmpDelete", new { id = item.Id })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
