@model EatOutByBI.Data.ViewModels.EmployeeEventViewModel

@{
    ViewBag.Title = "Skapa Anställdas Event";
}

<h2>Skapa Anställdas Event</h2>

@using (Html.BeginForm("CreateEmployeeEvent", "Event"))
{
    <p class="alert alert-info">Alla fält är <strong>Nödvändiga</strong>.</p>
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(m => m.NameOfEvent)
        @Html.TextBoxFor(m => m.NameOfEvent, new { @class = "form-control", autofocus = "autofocus" })
        @Html.ValidationMessageFor(m => m.NameOfEvent)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Description)
        @Html.TextBoxFor(m => m.Description, new { @class = "form-control", autofocus = "autofocus" })
        @Html.ValidationMessageFor(m => m.Description)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Date)
        @Html.TextBoxFor(m => m.Date, new { @class = "form-control", placeholder = "eg 1 Jan 2016" })
        @Html.ValidationMessageFor(m => m.Date)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Time)
        @Html.TextBoxFor(m => m.Time, new { @class = "form-control", placeholder = "eg 20:00" })
        @Html.ValidationMessageFor(m => m.Time)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.EmployeeEventType)
        @Html.DropDownListFor(m => m.EmployeeEventType, new SelectList(Model.EmployeeEventTypes, "Id", "Name"), "", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.EmployeeEventType)
    </div>

    <button type="submit" class="btn btn-primary">Spara</button>
}
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}