@model EatOutByBI.Data.ViewModels.EventViewModel

@{
    ViewBag.Title = "Skapa Event";
}
<div class="col-sm-9">
<h2>Skapa Event</h2>

@using (Html.BeginForm("CreateEvent", "Event", FormMethod.Post, new { enctype = "multipart/form-data" }))
{ 
    <p class="alert alert-info">All fields are <strong>required</strong>.</p>
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(m => m.NameOfEvent)
        @Html.TextBoxFor(m => m.NameOfEvent, new { @class = "form-control", autofocus = "autofocus" })
        @Html.ValidationMessageFor(m => m.NameOfEvent)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Description)
        @Html.TextBoxFor(m => m.Description, new { @class = "form-control", autofocus = "autofocus" })
        @Html.ValidationMessageFor(m => m.Description)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Date)
        @Html.TextBoxFor(m => m.Date, new { @class = "form-control datePicker", placeholder = "eg 2020-01-01 " })
        @Html.ValidationMessageFor(m => m.Date)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Time)
        @Html.TextBoxFor(m => m.Time, new { @class = "form-control", placeholder = "eg 00-23" })
        @Html.ValidationMessageFor(m => m.Time)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.EndTime)
        @Html.TextBoxFor(m => m.EndTime, new { @class = "form-control", placeholder = "eg 00-23" })
        @Html.ValidationMessageFor(m => m.EndTime)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Image)
        <input type="file" id="image1" name="image1" class="btn btn-default" />
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.EventType)
        @Html.DropDownListFor(m => m.EventType, new SelectList(Model.EventTypes, "Id", "Name"), "", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.EventType)
    </div>
    <button type="submit" class="btn btn-primary">Spara</button>
}</div>
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(function () {
            // This will make every element with the class "date-picker" into a DatePicker element
            $('.datePicker').datepicker({
                dateFormat: 'yy-mm-dd'
            });

        });
    </script>

}